<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%=title %>
    </h1>
    <p><%= msg %></p>
    <form method="post" action="/helo">
        <input type="text" name="input1" value="">
        <input type="submit">
    </form>
    <br>
    <table>
        <% for(var key in msglist ){ %>
            <tr>
                <td>   ・</td>
                <td><%= msglist[key] %></td>
            </tr>
        <% } %>
    </table>
</body>

</html>